/* mat-toolbar{
    background-color: #22242A;
}
mat-sidenav-container{
    background-color:aqua;
} */
/* mat-nav-list{
    background-color: #22242A;
} */
/* mat-sidenav-content{
    background-color:aqua;
} */