<!-- <div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<div [hidden]="!submitted">
		   <h4 align=center>Request Send to Librarian!</h4>
		</div>      
	</div> -->

<div class="container" style="margin-top: 5%; margin-left: 3%">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header" align="center">
                    <h2>Request Form</h2>
                </div>
                <div class="card-body">
                    <h3 *ngIf="nameError" align="center" style="color:red;">{{nameError}}</h3>
                    <form class="form-horizontal"  #saverequest="ngForm" (ngSubmit)="saveRequest()">
                        <div class="form-group">
							<label for="username" class="cols-sm-2 control-label">User Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"></span> <input type="text"
																				   class="form-control" name="username"
																				    id="username"
																				   placeholder="Enter Your Name"  [(ngModel)]="request.username" required  #username="ngModel"
																				   [class.is-invalid]="username.invalid && username.touched" />
								</div>
							</div>
						</div>
                        <div class="form-group">
							<label for="book_name" class="cols-sm-2 control-label">Book Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"></span> <input type="text"
																				   class="form-control" name="book_name"  
																				    id="book_name"
																				   placeholder="Enter Book Name"  [(ngModel)]="request.book_name" required  #book_name="ngModel"
																				   [class.is-invalid]="book_name.invalid && book_name.touched" />
								</div>
							</div>
						</div>
                        <div class="form-group">
							<label for="author_name" class="cols-sm-2 control-label">Author Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"></span> <input type="text"
																				   class="form-control" name="author_name"  
																				    id="author_name"
																				   placeholder="Enter Author Name"  [(ngModel)]="request.author_name" required  #author_name="ngModel"
																				   [class.is-invalid]="author_name.invalid && author_name.touched" />
								</div>
							</div>
						</div>
                        <div class="form-group row=1" align="center">
                            <button type="submit"
									class="btn btn-primary" [disabled]=!saverequest.valid>Send</button>
                            <div class="form-group" align="right">
                                <a style="cursor:pointer" (click)="onBack()" title="Back"><i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size:25px;color: blue;"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
